<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="58c5e6b3-3d32-414c-9ed9-39c31c213f6c" Publisher="CN=UniqueGeeks" Version="1.1.0.4" />
  <Properties>
    <DisplayName>Magic Word Counter</DisplayName>
    <PublisherDisplayName>UniqueGeeks</PublisherDisplayName>
    <Logo>Assets\photo50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Selective_Word_Counter__Windows_8_.App">
      <m2:VisualElements DisplayName="Magic Word Counter" Description="Magic Word Counter counts any words you put in it just like your average English class: Names, Quotes, Dates, and Places are counted as one word, while Article Adjectives and MLA In-Text Ctations are ignored!  It's like Magic!  (This description has 37 words.)" BackgroundColor="#008080" ForegroundText="dark" Square150x150Logo="Assets\photo150.png" Square30x30Logo="Assets\photo30.png">
        <m2:DefaultTile Wide310x150Logo="Assets\photoWide.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#008080" Image="Assets\Splash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>